<div id="page-cards">
  <button {{action 'showModal' 'profile.cards.new' null 'profile.cards.new'}}>New card</button>
  
  {{#jqui-droppable drop="dropLabelOnCard" itemSelector=".card-list-item" actionReceiver=jquiDroppable}}
    <table class="table table-striped table-card-list">
      <thead>
        <tr class="no-select">
          <th class="first-column">
            <div class="header-wrapper" {{action "changeSort" "created_at"}} title="Sort by creation time">
              #
              {{#if (is-equal sortBy "created_at")}}
                <span class="order-indicator">
                  {{#if (is-equal sortOrder "desc")}}
                    <span class="glyphicon glyphicon-chevron-down"></span>
                  {{else}}
                    <span class="glyphicon glyphicon-chevron-up"></span>
                  {{/if}}
                </span>
              {{/if}}
            </div>
          </th>
          <th>
            <div class="header-wrapper" {{action "changeSort" "side_a"}} title="Sort by sida a">
              Side A
              {{#if (is-equal sortBy "side_a")}}
                <span class="order-indicator">
                  {{#if (is-equal sortOrder "desc")}}
                    <span class="glyphicon glyphicon-chevron-down"></span>
                  {{else}}
                    <span class="glyphicon glyphicon-chevron-up"></span>
                  {{/if}}
                </span>
              {{/if}}
            </div>
          </th>
          <th>
            <div class="header-wrapper" {{action "changeSort" "side_b"}} title="Sort by side b">
              Side B
              {{#if (is-equal sortBy "side_b")}}
                <span class="order-indicator">
                  {{#if (is-equal sortOrder "desc")}}
                    <span class="glyphicon glyphicon-chevron-down"></span>
                  {{else}}
                    <span class="glyphicon glyphicon-chevron-up"></span>
                  {{/if}}
                </span>
              {{/if}}
            </div></th>
          <th class="knowledge-level-header">
            <div class="header-wrapper" {{action "changeSort" "proficiency_level"}} title="Sort by proficiency level">
              Knowledge Level
              {{#if (is-equal sortBy "proficiency_level")}}
                <span class="order-indicator">
                  {{#if (is-equal sortOrder "desc")}}
                    <span class="glyphicon glyphicon-chevron-down"></span>
                  {{else}}
                    <span class="glyphicon glyphicon-chevron-up"></span>
                  {{/if}}
                </span>
              {{/if}}
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |card|}}
          <tr class="card-list-item" data-card-id="{{card.id}}">
            <td class="edit-icons">
              <span class="glyphicon glyphicon-remove" {{action 'removeCard' card}}></span>
              <span class="glyphicon glyphicon-pencil" {{action 'showModal' 'profile.cards.edit' card 'profile.cards.edit'}}></span>
            </td>
            <td>
              {{card.sideA}}
            </td>
            <td>
              {{card.sideB}}
            </td>
            <td>
              {{star-rating rating=card.proficiencyLevel on-click="updateCardRating" item=card classNames="pull-right"}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/jqui-droppable}}
  {{pagination-numbers meta=model.meta}}
</div>