{{#my-modal title='New card' ok='createCard' close='removeModal'}}
  <form {{action 'createCard' on='submit'}}>
    <div class="form-group">
      <label>Sida A</label>
      {{input class="form-control" value=model.sideA}}
      {{#if errors.model.sideA}}
        {{errors.model.sideA}}
      {{/if}}
    </div>
    <div class="form-group">
      <label>Sida B</label>
      {{input class="form-control" value=model.sideB}}
      {{#if errors.model.sideB}}
        {{errors.model.sideB}}
      {{/if}}
    </div>
    <div class="form-group">
      <label>How well do you know it</label>
      {{input class="form-control" value=model.proficiencyLevel}}
    </div>
    <div class="form-group">
      <label>Labels:</label>
      {{select-2
        content=labels
        value=model.labels
        allowClear=true
        optionLabelPath="title"
        placeholder="Add labels"
        multiple="true"
      }}
    </div>
  </form>
{{/my-modal}}