{{#my-modal title='New card' ok='createCard' close='removeModal' isLoading=isSaving}}
  <form {{action 'createCard' on='submit'}}>
    <div class="form-group {{has-error-class showErrors errors.model.sideA}}">
      <label class="control-label">Side A</label>
      {{input class="form-control" value=model.sideA disabled=isSaving}}
      {{display-errors errors=errors.model.sideA showErrors=showErrors}}
    </div>
    <div class="form-group {{has-error-class showErrors errors.model.sideB}}">
      <label class="control-label">Side B</label>
      {{input class="form-control" value=model.sideB disabled=isSaving}}
      {{display-errors errors=errors.model.sideB showErrors=showErrors}}
    </div>
    <div class="form-group">
      <label>How well do you know it</label>
      {{input class="form-control" value=model.proficiencyLevel disabled=isSaving}}
    </div>
    <div class="form-group">
      <label>Labels:</label>
      {{ember-selectize
        content=labels
        optionValuePath="content.id"
        optionLabelPath="content.title"
        selection=model.labels
        placeholder="Select labels"
        multiple="true"
        disabled=isSaving
      }}
    </div>
    <input type="submit" class="hidden">
  </form>
{{/my-modal}}