{{#my-modal title='New card' ok='createCard' close='removeModal'}}
  <form {{action 'createCard' on='submit'}}>
    <div class="form-group">
      <label>Sida A</label>
      {{input class="form-control" value=sideA autofocus="true"}}
    </div>
    <div class="form-group">
      <label>Sida B</label>
      {{input class="form-control" value=sideB}}
    </div>
    <div class="form-group">
      <label>How well do you know it</label>
      {{input class="form-control" value=proficiencyLevel}}
    </div>
    <div class="form-group">
      <label>Label:</label>
      {{select-2
        content=labels
        value=selectedLabel
        placeholder="Choose your pizza"
        allowClear=true
        optionLabelPath="title"
        placeholder="Add labels"
        multiple="true"
      }}
    </div>
  </form>
{{/my-modal}}