<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li>{{link-to "Index" "application"}}</li>
      <li>{{link-to "Cards" "profile"}}</li>
    </ul>
    {{#if session.isAuthenticated}}
      Hi, {{session.currentUser.email}} <button {{action 'logout'}}>Logout</button>
    {{else}}
      {{#link-to "login"}}Login{{/link-to}}
    {{/if}}
  </div>
</nav>

{{outlet}}
{{outlet 'modal'}}